apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-chatbot.fullname" . }}-postgres
  labels:
    {{- include "todo-chatbot.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    {{- include "todo-chatbot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres